* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: #272727;
}

nav {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: blue;
    opacity: .9;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.left-side {
    color: white;
    font-size: medium;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img0 {
    width: 60px;
    border-radius: 50%;
}

.right-side {
    display: flex;
    gap: 1.5em;
}

.menu-list {
    display: flex;
    gap: 2.5em;
    font-size: larger;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.menu-list li a:hover {
    color: #A5BECF;
}

.right-side li a {
    color: white;
    text-decoration: none;
}

.fa-bars {
    /* border: 2px solid grey; */
    padding: 10px 25px;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    font-size: xx-large;
}

@media(max-width:875px) {
    nav {
        display: flex;
        justify-content: space-between;
    }

    .right-side {
        display: flex;
        gap: 1em;
    }
}

@media(max-width:872px) {
    .fa-bars {
        display: block;
        display: flex;
        padding: 10px 25px;
        justify-content: center;
        align-items: center;
    }

    .menu-list {
        display: none;
    }
}
@media(max-width:425px){
    .img0{
        width: 40px;
    }
    .left-side h1{
        font-size: 1.5em;
    }
    .fa-bars{
    padding: 5px 12px;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    }
}





main {
    /* border: 2px solid crimson; */
    padding-top: 150px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-evenly;
    /* gap: 3em; */
}

.img {
    width: 350px;
    height: 400px;
    border-radius: 20px;
}

.right-side1 h1 {
    /* border: solid red; */
    font-size: 6em;
    margin-top: 150px;
    color: white;
    padding-left: 50px;
}

.right-side1 h2 {
    color: white;
}

.bar-words {
    display: flex;
    gap: .2em;
    /* justify-content: flex-start; */
    align-items: center;

}

.fa-arrow-right {
    width: 20px;
    color: blue;
}

@media(max-width:875px) {
    main {
        display: grid;
    }

    .right-side1 h1 {
        margin-top: 50px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bar-words {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:496px) {
    .img {
        width: 300px;
        height: 350px;
    }

    .bar-words {
        font-size: medium;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .right-side1 h1 {
        padding-left: 0px;
        font-size: 3em;
    }

    .fa-arrow-right {
        display: none;
    }
}

@media(max-width:162px) {
    .img {
        width: 50px;
        height: 50px;
    }

    .right-side1 h1 {
        font-size: medium;
    }

    .bar-words {
        font-size: smaller;
        align-items: center;
        justify-content: center;
    }
}






section {
    background-color: #4f4f4f69;
}

.heading h2 {
    color: white;
    font-size: 2em;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 5px;
    gap: 0.5em;
    font-weight: 700;
}

h2 span {
    color: blue;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: white;
}

.grid {
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: auto auto;
    gap: 3em;
    justify-content: center;
    padding: 40px;
}

.grid-items {
    /* border: 2px solid black; */
    height: 500px;
    width: 400px;
    border-radius: 10px;
    background-color: #272727;
}

.grid-items:hover {
    animation-name: bounce;
    animation-duration: 2s;
    border-bottom: 15px solid blue;
}

@keyframes bounce {
    0% {
        transform: translateY(0px)
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(2px);
    }
}

.img1 {
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
}

.grid-text {
    display: flex;
    gap: 1.5em;
}

.board {
    height: 20px;
    width: 5px;
    background-color: blue;
    margin-left: 25px;
}

.grid-text h3 {
    color: white;
    text-decoration: none;
}

@media(max-width:874px) {
    .grid {
        display: grid;
        grid-template-columns: auto;
        gap: 5em;
    }
}

@media(max-width:420px) {
    .grid-items {
        width: 300px;
        height: 350px;
    }

    .grid-items:hover {
        border-bottom: 15px solid blue;
    }

    .img1 {
        width: 250px;
        height: 150px;
    }

    .heading h2 {
        font-size: 1.5em;
    }
}






.info-wrapper {
    border: 2px solid brown;
    padding-bottom: 30px;
    border: none;
}

.my-info {
    display: flex;
    justify-content: center;
    border: 2px solid grey;
    border: none;
    padding: 50px;
    gap: 70px;
}

.left-side2 h1 {
    color: blue;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 5px;
    display: flex;
    gap: 0.5em;
    padding-bottom: 20px;
    padding-left: 100px;
}

.left-side2 h1 span {
    color: white;
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 5px;
}

.left-side2 h4 {
    color: white;
    font-size: larger;
    padding-bottom: 1em;
}

.left-side2 h4 span {
    color: blue;
}
.left-side2 button{
    border: none;
    background-color: blue;
    font-size: 1.5em;
    margin-top: 30px;
    padding: 20px 15px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}
.left-side2 button a{
    color: white;
}






.skills {
    border: 2px solid green;
    padding: 20px;
    width: 60%;
    margin: auto;
    border: none
}

.skills span {
    font-size: 2em;
    font-weight: 500;
    color: white;
}

.skill-img {
    display: flex;
    gap: 1.5em;
    margin-left: 80px;
}

.img2 {
    width: 50px;
    gap: 1em;
    margin-top: 40px;
}

.img2:hover {
    animation-name: bounce;
    animation-duration: 2s;
}

@media(max-width:870px) {
    .my-info {
        display: grid;
    }
}

@media(max-width:427px) {
    .skills {
        width: 100%;
    }
}







.education {
    background-color: #373737;
}

.education h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px;
    font-weight: 700;
}

.education h1 span {
    color: blue;
}

.grids {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 2em;
    padding: 30px;
}

.edu-grid {
    /* border: 2px solid brown; */
    width: 400px;
    height: 250px;
    background-color: #272727;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.edutext {
    /* border: 2px solid blue; */
    padding: 10px 15px;
    height: 50px;
    color: white;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: 700;
}

.edutext-btn {
    border: 2px solid blue;
    margin-top: 10px;
    padding: 10px 15px;
    height: 50px;
    color: white;
    font-size: larger;
    font-weight: 900;
    background-color: blue;
}

@media(max-width:1203px) {
    .grids {
        display: grid;
        grid-template-columns: auto;
        gap: 3em;
    }

    .edu-grid {
        width: 350px;
        height: 200px;
        justify-content: space-between;
    }
}

@media(max-width:419px) {
    .edu-grid {
        width: 300px;
        height: 150px;
        justify-content: space-between;
    }
}



.contact-me{
    /* border: 2px solid grey;
    width: 60%;
    margin: auto; */
    background-color: #272727;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-weight: 700;
    font-size: 2em;
    color: white;
    gap: 0.3em;
}
p span{
    color: blue;
}


.message1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.input1 {
    border: 2px solid #383838;
    width: 250px;
    height: 50px;
    margin-top: 20px;
    background-color: #383838;
    color: white;
    font-size: 1.2em;
}

.input2 {
    border: 2px solid #383838;
    width: 320px;
    height: 50px;
    margin-top: 20px;
    background-color: #383838;
    color: white;
    font-size: 1.2em;
}

.message2{
    display: flex;
    justify-content: center;
    align-items: center;
}


.input3 {
    border: 2px solid #383838;
    width: 640px;
    padding-top: 10px;
    padding-bottom: 150px;
    margin-top: 20px;
    background-color: #383838;
    color: white;
    border-color: #383838;
    font-size: 1.2em;
}

input:hover{
    /* background-color: #A5BECF; */
    border-color: #A5BECF;
}



.btn{
    /* border: 2px solid grey; */
    background-color: blue;
    font-size: 1.2em;
    font-weight: 700;
    padding: 15px 15px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;

}
.btn a:hover{
    color: #A5BECF;
}
.btn a{
    display: flex;
    color: white;
}

@media(max-width:675px){
    .message1{
        flex-direction: column;
        gap: 0em;
    }
    .input{
        width: 250px;
    }
    p{
        font-size: 1.5em;
        font-weight: 600;
    }
}