*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.parent{
    border: 2px solid black;
    width: 60%;
    height: 60vh;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
}
.children{
    position: absolute;
}
.child1{
    border: 2px solid red;
    width: 500px;
    height: 500px;
    /* margin: auto; */
    background-color: red;
    border-radius: 50%;
    border: none;
}
.child2{
    border: 2px solid blue;
    width: 450px;
    height: 450px;
    background-color: blue;
    border-radius: 50%;
    border: none;
}
.child3{
    border: 2px solid green;
    width: 400px;
    height: 400px;
    background-color: green;
    border-radius: 50%;
    border: none;
}
.child4{
    border: 2px solid yellow;
    width: 350px;
    height: 350px;
    background-color: yellow;
    border-radius: 50%;
    border: none;
}
.child5{
    border: 2px solid orange;
    width: 300px;
    height: 300px;
    background-color: orange;
    border-radius: 50%;
    border: none;
}
.child6{
    border: 2px solid purple;
    width: 250px;
    height: 250px;
    background-color: purple;
    border-radius: 50%;
    border: none;
}
.child7{
    border: 2px solid indigo;
    width: 200px;
    height: 200px;
    background-color: indigo;
    border-radius: 50%;
    border: none;
}
@media(max-width:517px){
    .child1{
        width: 400px;
        height: 400px;
    }
    .child2{
        width: 350px;
        height: 350px;
    }
    .child3{
        width: 300px;
        height: 300px;
    }
    .child4{
        width: 250px;
        height: 250px;
    }
    .child5{
        width: 200px;
        height: 200px;
    }
    .child6{
        width: 150px;
        height: 150px;
    }
    .child7{
        width: 100px;
        height: 100px;
    }
}
@media(max-width:414px){
    .child1{
        width: 300px;
        height: 300px;
    }
    .child2{
        width: 250px;
        height: 250px;
    }
    .child3{
        width: 200px;
        height: 200px;
    }
    .child4{
        width: 150px;
        height: 150px;
    }
    .child5{
        width: 100px;
        height: 100px;
    }
    .child6{
        width: 50px;
        height: 50px;
    }
}