*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
.box{
    margin: 30px auto;
    width: 300px;
    border-radius: 10px;
    /* border: none; */
    background: linear-gradient(to bottom, #e0e0e0, #c0c0c0);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.circle{
    border: 6px solid black;
    width: 210px;
    height: 210px;
    margin:auto;
    margin-top: 10px;
    border-radius: 50%;
    position: relative;
    animation: rotatefan 0.2s linear infinite;
    transform-origin: center;

}
.blade{
    width: 95px;
    height: 15px;
    border-radius: 5px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left center;
}
.blade1{
    transform: rotate(120deg); 
}
.blade2{
    transform: rotate(240deg);
}
.blade3{
    transform: rotate(360deg);
}

@keyframes rotatefan {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.line1{
    border: 2px solid green;
    margin:auto;
    width: 20px;
    height: 120px;
    margin-bottom: 10px;
    background-color: #999;
    border: none;
}
.line2{
    border: 2px solid green;
    margin: auto;
    width: 30px;
    height: 100px;
    margin-bottom: 20px;
    background-color: #0066cc;
    border: none;
}

.base{
    width: 150px;
    height: 90px;
    background-color: #444;
    border-radius: 5px;
    margin:auto;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3); */
}
button{
    border: thin solid red;
    height: 35px;
    width: 45px;
    background-color:#0066cc ;
    border-radius: 5px;
    border: none;
}

button a{
    border: none;
    color: white;
    font-size: 14px;
    text-decoration:none;

}

