*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* border: 2px solid black; */
    margin: 40px auto;
    width: 1000px;
    height: 80vh;
}
.television{
    border: 5px solid black;
    width: 260px;
    height: 200px;
    margin: 100px auto;
    background: top #8DD8FF;
    position: relative;
}
.television:hover {
    background: top white;
}
.stand{
    border: 2px solid black;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 190px;
    left: 110px;
    background-color: black;
}
.stand2{
    border: 2px solid black;
    width: 80px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 210px;
    left: 85px;
    border-radius: 50%;
}
.stadium{
    width: 250px;
    height: 180px;
    margin: auto;
    position: absolute;
    top: 10px;
}
.stadium :hover{
    background-color: white;
}
.player1{
    height: 100px;
    position: absolute;
    top: 80px;
    left: 5px;
}
.player2{
    height: 100px;
    position: absolute;
    top: 80px;
    left: 180px;
}
.ball{
    width: 20px;
    height: 30px;
    position: absolute;
    top: 150px;
    left: 50px;
    animation-name: roll;
    animation-duration: 0.9s;
    /* animation-delay: 0s; */
    animation-iteration-count: infinite;

}
@keyframes roll{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(120px);
    }
}
.speaker{
    border: 2px solid black;
    width: 160px;
    height: 260px;
    background-color: black;
}
.speaker1{
    position: absolute;
    top: 100px;
    left: 280px;
}
.speaker2{
    position: absolute;
    top: 100px;
    left: 900px; 
}
.circle{
    border: 2px solid white;
    width: 120px;
    height: 120px;
    position: relative;
    left: 18px;
    top: 10px;
    border-radius: 50%;
    background-color: white;
    animation-name: rotate;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

 .innercircle{
    border: 2px solid black;
    width: 60px;
    height: 60px;
    background-color: black;
    position: absolute;
    left: 28px;
    top: 30px; 
    border-radius: 50%;


}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.innercircle:hover{
    background-color: green;
}

@media(max-width:2560px){
    .speaker{
        display: none;
    }
}