* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

header {
    /* border: 2px solid black; */
    background-color: #F5F5EE;
}

nav {
    /* border: 2px solid grey; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
}

.logo {
    width: 70px;
}

.left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.menu-list {
    display: flex;
    gap: 1.2em;
    position: relative;
}

.menu-list li a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight: 10;
}

.menu-list a:hover {
    color: #5cc1e8;
}


.about {
    position: relative;
    z-index: 99999;
}

.about-drop a:hover {
    color: #222222;
}

.about-drop {
    /* border: 2px solid black; */
    /* width: 200px; */
    top: 100%;
    margin: 8px auto;
    background-color: white;
    position: absolute;
    margin: 2px auto;
    display: none;
}

.about-drop li {
    padding: 10px 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 250px;
}

.about-drop li:hover {
    background-color: #E5E7EB;
}

.about-drop li a:hover {
    text-decoration: #222222;
}

.about:hover .about-drop {
    display: block;
}

.about-drop li a {
    font-size: 1em;
    color: black;
}



/* dropdown2 */


.Companies {
    position: relative;
    z-index: 9999;
}

.comp-drop {
    /* border: 2px solid black; */
    margin: 2px auto;
    position: absolute;
    display: none;
    border-radius: 5px;
}

.comp-drop li {
    padding: 10px 10px;
    width: 200px;
    background-color: #FFFFFF;
}

.comp-drop li:hover {
    background-color: #E5E7EB;
}

.comp-drop li a:hover {
    color: black;
}

.comp-drop li a {
    font-size: 1em;
    color: black;
}

.Companies:hover .comp-drop {
    display: block;
}



/* dropdown3 */


.Startup {
    position: relative;
    z-index: 999999;
}

.start-drop {
    /* border: 2px solid red; */
    /* width: 180px; */
    margin: 4px auto;
    position: absolute;
    display: none;
}

.start-drop li {
    padding: 10px 10px;
    width: 220px;
    background-color: white;
}

.start-drop li:hover {
    background-color: #E5E7EB;
}

.start-drop li a{
    padding: 20px 10px;
    font-size: 1em;
}

.start-drop li a:hover {
    color: black;
}

.StartUp:hover .start-drop {
    display: block
}




/* dropdown4 */




.Resources {
    position: relative;
    z-index: 99999;
}

.resources-drop {
    /* border: 2px solid black; */
    margin: 4px auto;
    /* width: 160px; */
    position: absolute;
    display: none;
    /* border-radius: 5px; */
}

.resources-drop li {
    padding: 10px 10px;
    background-color: #FFFFFF;
    width: 200px;
}

.resources-drop li a{
    padding: 20px 10px;
    font-size: 1em;
}

.resources-drop li:hover {
    background-color: #E5E7EB;
}

.resources-drop li a:hover {
    color: #222222;
}

.Resources:hover .resources-drop {
    display: block;
}



.btn-icons{
    display: flex;
    align-items: center;
    gap: 0.7em;
    border: none;
}

.btn-icons span{
    font-size: 1em;
}

.btn-icons button {
    padding: 10px 16px;
    background-color: #FF6600;
    border-radius: 5px;
    border: none;
}

.btn-icons button a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 900;
}

.fa-bars{
    font-size: 2em;
    padding: 5px 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


    /* media query */


@media(max-width:1025px) {
    .btn-icons span {
        display: none;
    }

    nav{
        display: flex;
        justify-content: space-between;
    }

}

@media(max-width:920px){
    .Resources{
        position: absolute;
        top: 30px;
    }

}

@media(max-width:850px){
    .Resources{
        position: absolute;
        top: 30px;
        left: 60px;
    }

    .SAFE{
        position: absolute;
        top: 30px;
    }
}

@media(max-width:775px){
    .Resources{
        position: absolute;
        top: 30px;
        left: 120px;
    }

    .SAFE{
        position: absolute;
        top: 30px;
        left: 60px;
    }

    .Library{
        position: absolute;
        top: 30px;
    }

}

@media(max-width:640px){
    .menu-list{
        display: none;
    }

    .btn-icons button{
        display: none;
    }

    .fa-bars{
        display: block;
    }

}



/* ------hero-sect----- */

.hero-sect{
    /* border: 2px solid red; */
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    /* border: 2px solid red; */
    padding: 80px;
}

.hero-text h1{
    font-size: 1.5cm;
    color: #ff6600;
    margin-bottom: 15px;
}

.hero-text p{
    font-size: 1.5em;
    margin-bottom: 15px;
}

.hero-text button{
    border: #FF6600;
    background-color: #ff6600;
    border-radius: 5px;
    padding: 10px 25px;
}

.hero-text button a{
    font-size: 1.5em;
    color: white;
}

.hero-image{
    /* border: 2px solid red; */
    width: 580px;
    height: 500px;
    position: relative;
}

.box2{
    /* border: solid red; */
    width: 220px;
    border-radius: 20px;
    position: absolute;
    top: 100px;
    right: 500px;
    background-color: #F5F5EE;
}

.box3{
    /* border: solid red; */
    width: 220px;
    border-radius: 20px;
    position: absolute;
    top: 280px;
    right: 500px;
    background-color: #F5F5EE;
}

.box-text{
    margin: 40px auto;
}

.box-text span{
    font-size: medium;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-text h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF6600;
}

/* ----hero-sect----media query-- */

@media(max-width:1026px){
    .hero-image{
        width: 400px;
        height: 400px;
    }

    .box2{
        position: absolute;
        right: 250px;
    }

    .box3{
        position: absolute;
        right: 250px;
    }

    .box-text{
        margin: 10px auto;
    }

    .hero-text{
        padding: 10px;
    }

    .hero-text h1{
        font-size: 1cm;
    }

    .hero-text p{
        font-size: 1em;
    }

}

@media(max-width:768px){
    .hero-image{
        display: none;
    }

    .hero-text{
        margin: 50px auto;
    }

    .hero-text h1{
        font-size: 1.2cm;
    }

    .hero-text p{
        font-size: 1.5em;
    }

}



/* ---top-yc-sect--- */

.top-yc-sect{
    /* border: 2px solid black; */
    background-color: #F5F5EE;
}

.top-yc-sect h1{
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 50px;
}

.box{
    /* border: solid red; */
    width: 125px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stripe{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.airbnb{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instacart{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.doordash{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cruise{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitch{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coinbase{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagerduty{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faire{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brex{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deel{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rippling{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.reddit{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.gusto{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.flexport{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropbox{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.razorpay{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scale{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gitlab{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benchling{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fivetran{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rappi{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkr{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zapier{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatnot{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.podium{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.webflow{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zepto{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groww{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.segment{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ironclad{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ----top-yc-sect---media query----- */

@media(max-width:1095px){
    .wrapper{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 1em;
    }
}

@media(max-width:815px){
    .wrapper{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

@media(max-width:565px){
    .wrapper{
        display: grid;
        grid-template-columns: auto auto;
    }
}


/* ---we-sect----media-query----- */

.text{
    margin: 50px auto;
}

.text p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    gap: .3em;
}

p span{
    color: #FB651E;
}

.we{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-bottom: 50px;
}

.line1{
    display: flex;
    gap: 1em;
    width: 250px;
}

.border1{
    width: 12px;
    height: 100px;
    border-radius: 5px;
    background-color: #FF6600;
}

.line1 p{
    font-size: 1.2em;
}


.line2{
    display: flex;
    gap: 1em;
    width: 200px;
}

.border2{
    width: 12px;
    height: 100px;
    border-radius: 5px;
    background-color: #FF6600;
}

.line2 p{
    font-size: 1.2em;
}


.line3{
    display: flex;
    gap: 1em;
    width: 200px;
}

.border3{
    width: 12px;
    height: 100px;
    border-radius: 5px;
    background-color: #FF6600;
}

.line3 p{
    font-size: 1.2em;
}


.line4{
    display: flex;
    gap: 1em;
    width: 250px;
}

.border4{
    width: 12px;
    height: 100px;
    border-radius: 5px;
    background-color: #FF6600;
}

.line4 p{
    font-size: 1.2em;
}

/* --we-sect----media query---- */
@media(max-width:769px){
    .we{
        display: grid;
        grid-template-columns: auto auto;
    }

    .line{
        width: 200px;
    }

}

@media(max-width:556px){
    .we{
        display: grid;
        grid-template-columns: auto;
        justify-content: flex-start;
        padding-left: 10px;
    }

}

@media(max-width:511px){
    .text p{
        font-size: 1.1em;
    }

}


/* ----formula for success section---- */
.section1 {
    background-color: #F5F5EE;
}

.header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    padding: 50px 0px;
    font-size: 2em;
}

.header span{
    color: #FF6600;
}

.section1 .video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* ----formula for success media query---- */
@media(max-width:460px){
    .header h1{
        font-size: 1em;
    }

}



/* ----STARTUP FOUNDERS SECTION--- */
.header h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    gap: .3em;
    margin-top: 50px;

}

.header span3{
    color: #FF6600;
}

.header h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}

.container{
    display: grid;
    justify-content: center;
    gap: 2em;
    grid-template-columns: auto auto;
    margin-top: 50px;
}

.grid-con{
    width: 530px;
    height: 480px;
    background-color: #F5F5EE;
    border-radius: 5px;
    margin-top: 15px;
}

.pic{
    width: 450px;
    height: 250px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-radius: 5px;
}

.grid-text{
    display: flex;
    gap: .2em;
    padding-left: 40px;
    margin-bottom: 10px;
}

.border-left{
    border: solid #ff6600;
    width: 5px;
    height: 20px;
    background-color: #FF6600;
}

.grid-text h3{
    font-size: 1em;
}

.grid-words{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}


/* -----startup founders section media query---- */

@media(max-width:1125px){
    .grid-con{
        width: 400px;
    }

    .pic{
        width: 320px;
        height: 200px;
    }

}

@media(max-width:867px){
    .grid-con{
        width: 350px;
    }

    .pic{
        width: 300px;
        height: 140px;
    }

}

@media(max-width:768px){
    .container{
        display: grid;
        grid-template-columns: auto;
    }

    .grid-con{
        width: 450px;
    }

    .pic{
        width: 350px;
        height: 200px;
    }

}

@media(max-width:610px){
    .header h3{
        font-size: 1.2em;
    }

    .header h2{
        font-size: 1.2em;
    }
}

@media(max-width:492px){
    .grid-con{
        width: 300px;
    }

    .pic{
        width: 260px;
        height: 140px;
    }
}

@media(max-width:425px){
    .header h3{
        font-size: 1em;
    }

    .header h2{
        font-size: 1em;
    }

}

@media(max-width:375px){
    .header h3{
        font-size: .9em;
    }

    .header h2{
        font-size: .9em;
    }

}



/* -----founders interest section---- */
/* -----section3------ */

.section3{
    margin-top: 80px;
    background-color: #F5F5EE;
}

.sec3-header{
    display: flex;
    justify-content: center;
    gap: .2em;
    padding-top: 50px;

}

.sec3-header h3{
    font-size: 2em;
    padding-left: 50px;
}

.sec-header span4{
    font-size: 1em;
    color: #FF6600;
}

.ints-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
}

.borderleft{
    width: 10px;
    height: 10px;
    background-color: #FF6600;
}

.ints1 h5{
    font-size: 1em;
}

.ints11{
    display: flex;
    align-items: center;
    gap: .5em;
    margin-bottom: 20px;
}

.ints12{
    display: flex;
    align-items: center;
    gap: .5em;
    margin-bottom: 20px;
}
.ints13{
    display: flex;
    align-items: center;
    gap: .5em;
    margin-bottom: 20px;
}


.borderright{
    width: 10px;
    height: 10px;
    background-color: #FF6600;
}

.ints2 h5{
    font-size: 1em;
}

.ints21{
    display: flex;
    align-items: center;
    gap: .5em;
    margin-bottom: 20px;
}

.ints22{
    display: flex;
    align-items: center;
    gap: .5em;
    margin-bottom: 20px;
}

.ints23{
    display: flex;
    align-items: center;
    gap: .5em;
    margin-bottom: 20px;
}


.sec3-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-bottom: 50px;
}

.sec3-grid .grid{
    width: 350px;
    height: 250px;
}

.sec3{
    width: 350px;
    height: 250px;
    border-radius: 5px;
}

/* -----founders interest media query----- */
@media(max-width:1180px){
    .sec3-grid{
        display: grid;
        gap: 1em;
    }

    .sec3-grid .grid{
        width: 250px;
        height: 200px;
    }

    .sec3{
        width: 250px;
        height: 200px;
    }


}

@media(max-width:1024px){
    .ints-header{
        flex-direction: column;
        padding: 0px 20px;
    }
}

@media(max-width:815px){
    .sec3-grid .grid{
        width: 200px;
        height: 150px;
    }

    .sec3{
        width: 200px;
        height: 150px;
    }

}

@media(max-width:640px){
    .sec3-grid{
        display: none;
    }

    .sec3-grid .grid{
        display: none;
    }

}



/* -------founders interest section---- */
.section4 .header{
    margin: 20px auto;
}

.sec4-1{
    display: inline-flex;
    gap: 1.5em;
    padding: 0px 50px;
    padding-bottom: 20px;
}

.sec4-pic{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.sec4-1-text strong{
    color: black;
    font-weight: 900;
}

.sec4-1 h6{
    font-size: 1.2em;
    color: black;
    font-weight: 100;
}

.sec4-2{
    display: inline-flex;
    gap: 1.5em;
    padding: 0px 50px;
    padding-bottom: 20px;
}

.sec4-pic{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.sec4-2-text strong{
    color: black;
    font-weight: 900;
}

.sec4-2 h6{
    font-size: 1.2em;
    color: black;
    font-weight: 100;
}



.sec4-3{
    display: inline-flex;
    gap: 1.5em;
    padding: 0px 50px;
    padding-bottom: 20px;
}

.sec4-3-text strong{
    color: black;
    font-weight: 900;
}

.sec4-3 h6{
    font-size: 1.2em;
    color: black;
    font-weight: 100;
}


.sec4-4{
    display: inline-flex;
    gap: 1.5em;
    padding: 0px 50px;
    padding-bottom: 20px;
}

.sec4-4-text strong{
    color: black;
    font-weight: 900;
}

.sec4-4 h6{
    font-size: 1.2em;
    color: black;
    font-weight: 100;
}













